.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}

.header__menu {
    justify-self: start;
    padding-top: 49px;
    padding-bottom: 42px;
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.header__links-list-item {
    font-size: 18px;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    color: inherit;
}

.header__link_active {
    text-decoration: none;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.address {
    display: flex;
    flex-direction: column;
    grid-column: 3;
    align-items: flex-start;
    text-align: left;
    margin-left: 184px;
    grid-row: 1;
    margin-top: 3px;
    font-size: 18px;
    width: 240px;
    font-style: normal;
    line-height: 24.3px;
}

.address__text {
    text-decoration-line: none;
    font-size: 18px;
    font-weight: 400;
}

.address__link {
    font-size: 18px;
    text-decoration: underline;
    color: inherit;
}

.cover {
    position: relative;
    background-image: url('../images/cover.jpg');
    min-height: 757px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1100px;
    margin: 0 auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.cover__title {
    position: relative;
    color: white;
    z-index: 2;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    letter-spacing: 0.3em;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    padding-top: 165px;
}

.cover__title-line {
    display: block;
}

.aligned-text {
    align-self: flex-start;
    margin-left: 50px;
}

.aligned-text_center {
    align-self: center;
    line-height: 115%;
    margin-left: 35px;
}

.aligned-text_right {
    align-self: flex-end;
    margin-right: 19px;
}

.cover__description {
    position: relative;
    color: white;
    z-index: 2;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 97px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.cover__description-text {
    word-spacing: 19px;
    line-height: 28px;
    white-space: nowrap;
}

.bet-button {
    margin-left: 105px;
    color: white;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    justify-self: flex-end;
    background: transparent;
    border: 1px solid white;
    padding: 12px 32px;
    white-space: nowrap;
    cursor: pointer;
}

.lots {
    padding: 180px 50px 60px;
    max-width: 1100px;
    margin: 0 auto;
    box-sizing: border-box;
}

.lots__heading {
    color: black;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 27px;
    margin-left: 40px;
}

.lots__card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
}

.lots__card-list-item {
    flex: 0 0 300px;
    min-height: 596px;
    position: relative;
}

.card-link {
    display: block;
    width: 100%;
    min-height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    width: 100%;
    height: 596px;
    padding-top: 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 27px 40px;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.card__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    color: white;
    position: relative;
    z-index: 2;
    margin-left: 40px;
    margin-right: 40px;
    text-align: left;
    margin-bottom: 0px;
    padding-top: 20px;
    margin: 0;
}

.card__text {
    font-size: 20px;
    font-weight: 400;
    width: 254px;
    line-height: 1.2;
    color: white;
    position: relative;
    z-index: 2;
    margin-bottom: 48px;
    margin-left: 40px;
    display: block;
    margin: 0;
    margin: 0;
    width: auto;
}

.lots__look-more-link {
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
    color: #000;
    display: block;
    margin-top: 30px;
    margin-left: 40px;
}

.about {
    display: grid;
    grid-template-columns: minmax(334px, auto) 1fr;
    gap: 25px;
    padding: 96px 0px;
    max-width: 1052px;
    margin: 0 auto;
    box-sizing: border-box;
}

.about__column {
    position: relative;
}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 46px;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__text-column {
    padding-top: 100px;
}

.about__title {
    margin-bottom: 100px;
    align-content: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    margin-top: 100px;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 693px;
}

.about__paragraph {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: start;
    gap: 50px;
    padding: 82px 50px 90px;
    max-width: 1100px;
    margin: 0 auto;
    box-sizing: border-box;
}

.footer .address {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    grid-column: 1;
    margin: 0;
}

.footer__menu {
    grid-column: 2;
    margin: 0;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer__menu-link {
    text-decoration: underline;
    color: inherit;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    grid-column: 3;
    display: flex;
    gap: 48px;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-self: end;
    align-self: start;
}

.footer__social-list-item {
    margin: 0;
}

.footer__social-link {
    display: block;
}

.footer__social-icon {
    height: 48px;
    width: 48px;
}